<div class="sobre-conteudo">
  <h2>Permita que eu me apresente.</h2>
  <br>
  <p>
    Sou formado em Biologia e Análise e Desenvolvimento de Sistemas. Tenho me envolvido no
    desenvolvimento de projetos utilizando tecnologias robustas, especialmente
    em aplicações web baseadas em microsserviços. Pretendo me especializar na criação de
    soluções eficientes e escaláveis. No
    momento, estou me dedicando a me tornar um Desenvolvedor Full Stack, estou buscando
    aprimorar minhas habilidades e expandir meu conhecimento para
    contribuir de maneira significativa nos projetos em que estiver envolvido.
  </p>
</div>
