<h2>Educação</h2>
<p>
  Sou formado em Biologia e Análise e Desenvolvimento de Sistemas. Minha
  formação acadêmica me proporcionou uma base sólida tanto nas ciências naturais
  quanto na tecnologia.
</p>
<br>
<h2>Interesses</h2>
<p>
  Tenho uma paixão por explorar o mundo natural e a tecnologia. Adoro aprender
  sobre novas tendências e inovações que podem transformar nosso dia a dia.
</p>
<br>
<h2>Objetivo Profissional</h2>
<p>
  Atualmente, estou me dedicando a me tornar um Desenvolvedor Full Stack. Estou
  sempre em busca de novos conhecimentos e desafios que me permitam crescer
  profissionalmente e aplicar minhas habilidades para resolver problemas
  complexos.
</p>
<br>
<h2>O que me motiva</h2>
<p>
  Seja na criação de aplicações web inovadoras ou no desenvolvimento de soluções
  tecnológicas eficientes, estou comprometido em contribuir positivamente para o
  avanço da tecnologia e fazer a diferença no mundo.
</p>
