<a href="#logo-bran"
  ><img
    src="../../assets/sweter-sem-fundo2-removebg-preview.png"
    alt="foto de perfil"
/></a>
<div class="containner=informacoes">
  <h1 class="titulo-principal">Rafael Brandão</h1>

  <div pDefer class="tabview">
    <p-tabView>
      <p-tabPanel header="SOBRE MIM"
        ><app-sobre-mim></app-sobre-mim
      ></p-tabPanel>
      <p-tabPanel header="TECNOLOGIAS"
        ><app-tecnologias></app-tecnologias
      ></p-tabPanel>
      <p-tabPanel header="CONTATO"><app-conexao></app-conexao></p-tabPanel>
      <p-tabPanel header="PROJETOS"><app-projetos></app-projetos></p-tabPanel>
    </p-tabView>
  </div>
</div>
