:host {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--teste);
  box-shadow: inset 10 10 10px var(--black);
}
