<div class="containner-tecnologias">
  <!-- <div class="card-tecnologias">
    <h2 class="tipo-tecnologia">Front-End</h2>
    <div class="ico-tecnologias">
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/html-5.png" alt="HTML" />
        <p>HTML</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/css-3.png" alt="CSS" />
        <p>CSS</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/js.png" alt="JavaScript" /><P
          >JavaScript</P
        >
      </div>
      <div class="box-tecnologia">
        <img
          class="icon"
          src="../../assets/icons/typescript.png"
          alt="TypeScript"
        />
        <p>TypeScript</p>
      </div>
      <div class="box-tecnologia">
        <img
          class="icon"
          src="../../assets/icons/bootstrap.png"
          alt="Bootstrap"
        /> <p>Bootstrap</p>
      </div>
      <div class="box-tecnologia">
        <img
          class="icon"
          src="../../assets/icons/angular-icon.png"
          alt="Angular"
        /> <p>Angular</p>
      </div>
      <div class="box-tecnologia">
        <img
          class="icon"
          src="../../assets/icons/primeng-icon.png"
          alt="PrimeNG"
        /> <p>PrimeNG</p>
      </div>
    </div>
  </div>

  <div class="card-tecnologias">
    <h2 class="tipo-tecnologia">Back-End</h2>
    <div class="ico-tecnologias">
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/java.png" alt="Java" /> <p>Java</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/Spring.png" alt="SpringBoot" /> <p>SpringBoot</p>
      </div>
    </div>
  </div>

  <div class="card-tecnologias">
    <h2 class="tipo-tecnologia">Banco de Dados</h2>
    <div class="ico-tecnologias">
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/oracle.jpg" alt="Oracle" /><p>Oracle</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/mysql.png" alt="MySQL" /><p>MySQL</p>
      </div>
    </div>
  </div> -->

  <div class="card-tecnologias">
    <div class="tecnologias">
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/html-5.png" alt="">
        <p class="nome-tecnologia">HTML</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/css-3.png" alt="">
        <p class="nome-tecnologia">CSS</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/js.png" alt="">
        <p class="nome-tecnologia">JS</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/typescript.png" alt="">
        <p class="nome-tecnologia">TS</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/bootstrap.png" alt="">
        <p class="nome-tecnologia">Bootstrap</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/angular-icon.png" alt="">
        <p class="nome-tecnologia">Angular</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/primeng-icon.png" alt="">
        <p class="nome-tecnologia">PrimeNG</p>
      </div>
    </div>
    <div class="tecnologias">
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/java.png" alt="">
        <p class="nome-tecnologia">Java</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/Spring.png" alt="">
        <p class="nome-tecnologia">SpringBoot</p>
      </div>
    </div>
    <div class="tecnologias">
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/oracle.jpg" alt="">
        <p class="nome-tecnologia">Oracle</p>
      </div>
      <div class="box-tecnologia">
        <img class="icon" src="../../assets/icons/mysql.png" alt="">
        <p class="nome-tecnologia">MySQL</p>
      </div>

    </div>
  </div>




</div>
