:host {
  display: flex;
  width: 30rem;
}

.card-tecnologias {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.icon {
  width: 1.8rem;
  margin: 0.5rem;
}

.box-tecnologia {
  display: flex;
  align-items: center;
}

.tipo-tecnologia {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.ico-tecnologias {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
