<div class="containner-projetos">
  <p>
    Atualmente, estou trabalhando em diversos projetos. Embora muitos desses
    projetos sejam simples, estou constantemente me desafiando a criar soluções
    mais complexas. Estou empenhado em aprimorar minhas habilidades
    e expandir meu conhecimento em tecnologia. Meu objetivo é aprimorar minhas habilidades e
    expandir meu conhecimento com as tecnologias que escolhi trabalhar.
  </p>
  <br />
  <p>
    Para conferir mais detalhes sobre os meus projetos, visite meu
    <a href="#logo-bran">portfólio</a>.
  </p>
</div>
