<div class="card">
  <p>
    Atualmente, estou trabalhando em diversos projetos que refletem minha
    dedicação ao desenvolvimento e aprendizado contínuo. Embora muitos desses
    projetos sejam simples, estou constantemente me desafiando a criar soluções
    mais complexas e inovadoras. Estou empenhado em aprimorar minhas habilidades
    e expandir meu conhecimento em tecnologia.
  </p>
  <p>
    Para conferir mais detalhes sobre os meus projetos, visite meu
    <a href="#logo-bran">portfólio</a>.
  </p>
</div>
