<div class="containner-conexao ">
  <p class="texto-conexao">
    "Confira minhas redes para acompanhar meu trabalho ou entrar em contato."
  </p>
  <nav class="links-conexao">
    <a href="https://www.instagram.com/branrafa/" target="_blank"><img class="icon" src="../../assets/icons/instagram.png" alt="link Instagram"></a><br>
    <a href="https://www.linkedin.com/in/rafael-brand%C3%A3o-97bb77270/" target="_blank"><img class="icon" src="../../assets/icons/linkedin.png" alt="link LinkedIn"></a><br>
    <a href="https://github.com/RafaBran" target="_blank"><img class="icon" src="../../assets/icons/github.png" alt="link github"></a><br>
  </nav>
</div>
