//mport dependencia primeflex
@import '~primeflex/primeflex.css';


// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; /* Adicionando text-decoration none para todos os elementos */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none; /* Remove sublinhado dos links */
  color: inherit;
}

//estilizações gerais

.limiter {
  max-width: 80%;
}

.aligner {
  margin: 0 auto
}

// fontes
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

//variáveis
:root {
  --black: #000000;
  --gray: #323232;
  --blue: #116081;
  --dark-gray: #0D1117;
  --background-gray: #010409;
  --line-gray: #3D444D;
  --soft-gray: #7c7c7c;
  --white: #fff;
  --off-white: #f6f6cd;
  --red: #e0311b;
  --dark-red: #9e200f;
  --purple-strong: #9e0f97;
  --blue: #3B82F6;
  --purple-soft: #49325c;
  --green-water: #136283;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --hand-font: "Ms Madi", cursive;
}


//Estilização scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-water);
}
