//mport dependencia primeflex
@import '~primeflex/primeflex.css';


// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fontes
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

//variáveis
:root {
  --black: #000000;
  --gray: #323232;
  --dark-gray: #0D1117;
  --background-gray: #010409;
  --line-gray: #3D444D;
  --soft-gray: #7c7c7c;
  --white: #fff;
  --off-white: #f6f6cd;
  --red: #e0311b;
  --dark-red: #9e200f;
  --purple-strong: #9e0f97;
  --blue: #3B82F6;
  --purple-soft: #49325c;
  --green-water: #136283;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --hand-font: "Ms Madi", cursive;
}


//Estilização scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-water);
}
