:host {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--soft-gray);
  background-image: url(../../assets/blue-abstract.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo-principal {
  color: #42849e;
  font-size: 3rem;
  font-family: var(--fonte-principal);
  letter-spacing: 0.1rem;
  transition: 1s;

}

.titulo-principal:hover {
  color: #bfd3db;
}


a {
  text-decoration: none;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.color1 {
  color: #538aa0;
  transition: 1s;
  font-size: 3rem;
  font-family: var(--fonte-principal);
  letter-spacing: 0.1rem;
}

.color2 {
  color: #6d909e;
  transition: 1s;
  font-size: 3rem;
  font-family: var(--fonte-principal);
  letter-spacing: 0.1rem;
}

.color3 {
  color: #889aa1;
  transition: 1s;
  font-size: 3rem;
  font-family: var(--fonte-principal);
  letter-spacing: 0.1rem;
}
